body {
    height: 90vh;
    padding: 0;
    margin: 0;
    background-color: #FF9D40;
}

.field {
    box-sizing: border-box;
    margin: 10px;
    border: 10px solid #A64100;
    height: calc(100% - 40px);
    background: url("foto/desk.jpg");
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    position: absolute;
    border: none;
    border-radius: 30%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.2s ease;
    background: url("foto/bug.svg");
    background-size: contain;
    cursor: pointer;
    display: inline-block;
    height: 60px;
    width: 60px;
}

button:focus {
    outline: 0;
}

input {
    padding: 10px 20px;
    position: absolute;
    width: 120px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.2s ease;
}

p {
    text-align: center;
}

.button_none {
    display: none;
}